
input[type="text"]{
    padding-left: 5px;
    font-size: 20px;
    width: 400px;
    height: 50px;
}
select{
    height: 56px;
    width: 300px;
    font-size: 20px;
    color:gray;
}

textarea{
    font-family: inherit;
    padding-top: 10px;
    padding-left: 5px;
}
.title{
    top:39%;
}
.parallax1{
    background-image: url(../images/161764433_hi-res.jpg);
    height: 125.5%;
}
.review{
    text-align: justify;
    letter-spacing: normal;
    padding: 10px 100px 20px 100px;
    font: 400 15px/1.8 "Lato", sans-serif;    
}
.scrollBox{
    padding-bottom: 22px;
}
.sideitem{
    position:absolute;
    top:330px;
    right:0;
    font-size: 16px;
    height: 520px;
    text-align: center;
    width:60%;
    padding-bottom: 10px;
    border:none;
    outline:none;
    overflow: hidden;
    display:inline-block;
    background-color: rgba(220, 220, 220, 0.7);;
    color: #222;
}
.barItem{
    position:absolute;
    top: 330px;
    left: 0;
    width: 40%;
    background-color:#111;
    color:#ddd;
    text-align: center;
    padding-bottom: 10px;
    display:inline-block;
    height: 520px;
    cursor: pointer;
}
.barItem:hover{
    background-color:#222;
}
form {
    background-color: beige; 
    padding: 10px 0px 0px 25px;
}
textarea{
    width: 700px;
    height: 300px;
}
@media only screen and (min-width:400px) and (max-width: 800px) {
    .titlebar span.border {
    background-color: #222;
    color: #eee;
    padding: 12px 6px 12px 6px;  
    font-size: 14px;
    letter-spacing: normal;
    }
    form {
    background-color: beige; 
    padding: 10px 0px 0px 25px;
    }
    textarea{
    width: 400px;
    height: 150px;
    }
}

@media only screen and (max-width: 400px) {
    .titlebar span.border {
    background-color: #222;
    color: #eee;
    padding: 10px 3px 10px 3px;  
    font-size: 11px;
    letter-spacing: normal;
    }
    form {
    background-color: beige; 
    padding: 10px 0px 0px 25px;
    }
    textarea{
    width: 200px;
    height: 100px;
    }
}
