.title{
    top:39%;
}
.parallax1{
    background-image: url(../images/161764433_hi-res.jpg);
    height: 125.5%;
}
.review{
    text-align: justify;
    letter-spacing: normal;
    padding: 10px 100px 20px 100px;
    font: 400 15px/1.8 "Lato", sans-serif;    
}
.scrollBox{
    padding-bottom: 22px;
}
.sideitem{
    position:absolute;
    top:330px;
    right:0;
    font-size: 16px;
    height: 520px;
    text-align: center;
    width:60%;
    padding-bottom: 10px;
    border:none;
    outline:none;
    overflow: hidden;
    display:inline-block;
    background-color: rgba(220, 220, 220, 0.7);;
    color: #222;
}
.barItem{
    position:absolute;
    top: 330px;
    left: 0;
    width: 40%;
    background-color:#111;
    color:#ddd;
    text-align: center;
    padding-bottom: 10px;
    display:inline-block;
    height: 520px;
}
.barItem:hover{
    background-color:#222;
}
@media only screen and (min-width:400px) and (max-width: 800px) {
    .barItem{
    width: 40%;
    background-color:#111;
    color:#ddd;
    text-align: center;
    padding: 0px 0px 0px 0px;
    display:inline-block;
    }
    .barItem h1{
        font-size: 20px
    }
    h3, h4, h5{
    font-size: 20px
    }
    .sideitem{
    position:absolute;
    top:330px;
    right:0;
    font-size: 16px;
    height: 520px;
    text-align: center;
    width:60%;
    padding-bottom: 10px;
    border:none;
    outline:none;
    overflow: hidden;
    display:inline-block;
    background-color: rgba(220, 220, 220, 0.7);;
    color: #222;
    }
    .review{
    text-align: justify;
    letter-spacing: normal;
    padding: 10px 20px 10px 20px;
    font: 400 10.5px/1.8 "Lato", sans-serif;    
    }
}

@media only screen and (max-width: 400px) {
    .barItem{
    width: 40%;
    background-color:#111;
    color:#ddd;
    text-align: center;
    padding: 0px 0px 0px 0px;
    display:inline-block;
    }
    .barItem h1{
        font-size: 20px;
    }
    .barItem img[src*="samplerev"]{
    height: 200px;
    }
    h3, h4, h5{
    font-size: 15px;
    }
    .sideitem{
    position:absolute;
    top:330px;
    right:0;
    font-size: 16px;
    height: 520px;
    text-align: center;
    width:60%;
    padding-bottom: 10px;
    border:none;
    outline:none;
    overflow: hidden;
    display:inline-block;
    background-color: rgba(220, 220, 220, 0.7);;
    color: #222;
    }
    .review{
    text-align: justify;
    letter-spacing: normal;
    padding: 10px 20px 10px 20px;
    font: 400 10.5px/1.8 "Lato", sans-serif;    
    }
}