.title{
    top:21%;
}
.parallax1{
    background-image: url(../images/samplerev-parallax1.jpg);
    height: 51.5%;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
}
.review{
    text-align: justify;
    color: black;
    letter-spacing: normal;
    padding: 10px 100px 50px 100px;
    font: 400 15px/1.8 "Lato", sans-serif;    
}
.scrollBox{
    overflow-x: scroll;
    overflow-y: hidden;
    height: 335px;
    white-space: nowrap;
    padding-bottom: 22px;
}
.sidebar{
    height:200%;
}
.sideitem{
    font-size: 16px;
    color: #bbb;
    padding:8px 16px;
    float:left;
    text-align: center;
    width:auto;
    border:none;
    outline:none;
    display:block;
    background-color:#111;

}
.sideitem:hover{
    background-color:#222;

}

@media only screen and (min-width:400px) and (max-width: 800px) {
    .titlebar span.border {
    background-color: #222;
    color: #eee;
    padding: 12px 6px 12px 6px;  
    font-size: 14px;
    letter-spacing: normal;
    }
}

@media only screen and (max-width: 400px) {
    .titlebar span.border {
    background-color: #222;
    color: #eee;
    padding: 10px 3px 10px 3px;  
    font-size: 11px;
    letter-spacing: normal;
    }
}